body {
    display: flex;
    margin: 0;
    background-color: gray;
    color: white;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

span {
    color: purple;
}

a {
    text-transform: uppercase;
    line-height: 30px;
    color: white;
}

table {
    width: 80vw;
    border: 2px solid white;
}

td {
    border: 2px solid white;
}